.container-product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.container-element-card {
  background: linear-gradient(rgb(0, 55, 48) ,rgb(0, 56, 112));
  
  height: 350px;
  width: 260px;
  text-align: center;
  justify-content: center;
  border-radius: 2rem;

}

.container-element-card p {
  color: white;

}

.layout {
  display: flex;
}